.fondo {
background-image: url(https://wp.es.aleteia.org/wp-content/uploads/sites/7/2017/02/web-toast-brindis-beer-shutterstock_483513562-ievgenii-meyer-ai1.jpg?w=640&crop=1);
background-position: center;
background-size: cover;
height: 85%;
padding: 0%;
margin: 0% !important;
}
.titulo {
    margin-left: 20px;
    padding: 20px;
    color: #fff;
}
.box {
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0,.8);
    color: #fff;
}
.imagenes {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: none;
}
.img-footer{
    width: 250px;
    border-radius: 30%;
}
.div-img-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy{
    margin-top: 250px;
}
.btn-up{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: rgb(109, 78, 78);
  }
  .btn-up:hover{
    transform: scale(1.1);
  }